<!-- Start::Mobile header-->
<div class="ul-mobile-top-header bg-slate">
    <img class="ul-brand-mobile" src="../Arctic/assets/images/arctic-admin-circle.svg" alt="" />
    <div class="flex-grow-1"></div>
    <button class="sidebar-full-toggle btn btn-icon btn-primary rounded-circle text-white"><i class="material-icons">menu</i></button>
    <button class="btn btn-icon ul-header-menu-toggle btn-icon btn-primary rounded-circle text-white"><i class="material-icons">more_vert</i></button><i class="material-icons text-white ul-mobile-header-toggle">more_horiz</i>
</div>
<!-- End::Mobile header  -->
<!-- Start::Main header  -->
<header class="main-header bg-card d-flex flex-row justify-content-between align-items-center px-lg">
    <!-- Start::Header menu-->
    <div>
        <div class="ul-header-menu-wrap">
            <i class="material-icons ul-header-menu-toggle">close</i>
            <div class="ul-header-menu">
                <ul class="ul-header-nav">
                    <li class="ul-menu-item"><a class="ul-menu-link" href="#">BẢNG ĐIỀU KHIỂN</a></li>
                    <li class="ul-menu-item"><a class="ul-menu-link" href="#">CRM</a></li>
                    <li class="ul-menu-item"><a class="ul-menu-link" href="#">TÀI CHÍNH</a></li>
                    <li class="ul-menu-item ul-menu-item--active"><a class="ul-menu-link" href="#">SẢN XUẤT</a></li>
                    <li class="ul-menu-item"><a class="ul-menu-link" href="#">HR</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End::Header menu-->
    <div class="ul-header-topbar">
        <div class="flex-grow-1"></div>
        <button class="btn btn-opacity-default rounded-circle btn-icon btn-badge" data-sidebar-panel="asideNotification">
            <span class="badge badge-danger">3</span>
            <i class="material-icons">notifications</i>
        </button>
      
        <div class="dropdown profile-dropdown ml-xs">
            <div class="header-btn-group">
                <button class="btn d-flex py-1 pl-2 pr-0 rounded" id="dropdownTopUserProfile" type="button" data-sidebar-panel="asideProfile">
                    <span class="m-0 mr-2 font-weight-normal">Hi, Nguyễn Hoài Nam Nam</span>
                    <img class="avatar-sm rounded-circle mr-1" src="../Arctic/assets/images/faces/1.jpg" />
                </button>

            </div>
        </div>
    </div>
</header>
<!-- End::Main header-->